<div class="p-4">
  <h2 class="text-2xl mb-4">User Workout List</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field class="w-full mb-4">
      <mat-label>Search by name</mat-label>
      <input
        matInput
        [(ngModel)]="searchName"
        (ngModelChange)="onSearchChange()"
        placeholder="Enter name"
      />
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Filter by workout type</mat-label>
      <mat-select
        [(ngModel)]="filterWorkoutType"
        (ngModelChange)="onFilterChange()"
      >
        <mat-option value="">All Workout Types</mat-option>
        <mat-option value="Running">Running</mat-option>
        <mat-option value="Swimming">Swimming</mat-option>
        <mat-option value="Cycling">Cycling</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let userWorkout">
        <div class="flex items-center cursor-pointer" (click)="toggleChart(userWorkout)">
          {{ userWorkout.name }}
          <i class="material-icons ml-2">{{ userWorkout.showChart ? 'expand_less' : 'expand_more' }}</i>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="workouts">
      <th mat-header-cell *matHeaderCellDef>Workout Types</th>
      <td mat-cell *matCellDef="let userWorkout">{{ getWorkoutTypesString(userWorkout.workouts) }}</td>
    </ng-container>

    <ng-container matColumnDef="totalWorkouts">
      <th mat-header-cell *matHeaderCellDef>No. of Workouts</th>
      <td mat-cell *matCellDef="let userWorkout">
        {{ userWorkout.totalWorkouts }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalMinutes">
      <th mat-header-cell *matHeaderCellDef>Total Minutes</th>
      <td mat-cell *matCellDef="let userWorkout">
        {{ userWorkout.totalMinutes }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let userWorkout; columns: displayedColumns"></tr>
  </table>

  <ng-container *ngFor="let userWorkout of dataSource.filteredData">
    <div class="overflow-hidden transition-all duration-300 ease-in-out" 
         [ngClass]="{'max-h-0': !userWorkout.showChart, 'max-h-96': userWorkout.showChart}">
      <app-workout-chart *ngIf="userWorkout.showChart" [workoutData]="userWorkout.workouts"></app-workout-chart>
    </div>
  </ng-container>

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>